(
	{
		name = Root;
		directActionClass = DirectAction;
		directActionName = default;
		children = ("Home","Subscriptions");
	},
	{
		name = "Home";
		action = "session.navController.homeAction";
		children = ("Logout");
	},
	{
		name = "Subscriptions";
		action = "session.navController.listSubscriptionsForUser";
		children = ("CreateSubscription", "SearchSubscriptions");
	},
	{
		name = "CreateSubscription";
		displayName = "Create";
		action = "session.navController.createSubscriptionAction";

	},
	{
		name = SearchSubscriptions;
		displayName = "Search";
		action = "session.navController.searchSubscriptionAction";

	},
	{
		name = Logout;
		directActionName = "logout";
		/*
		You may specify the direct action class using the
		directActionClass binding.
		*/
		directActionClass = "ERXDirectAction";
	}

)